<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ "style-design-system.css" | asset_url | stylesheet_tag }}
    {{ "style-index.css" | asset_url | stylesheet_tag }}
    {{ "style-collection.css" | asset_url | stylesheet_tag }}


    <script src="{{ 'script-responsive-navbar.js' | asset_url }}" defer></script>
    <script src="{{ 'script-filter-dropdown.js' | asset_url }}" defer></script>

    <title>{{ page_title }}</title>
    {{content_for_header}}
</head>
<body>
    {% sections 'group-navbar' %}
    {{ content_for_layout }}
    {% sections 'group-footer' %}
</body>
</html>
    